@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.container {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.service-box {
  width: 400px;  
  transition: all .3s;
  padding: 10px 5px;
  background: #fff;
  color: #fc5f9b;
  border-radius: 5px;
  display: flex;
  cursor: pointer;
  box-shadow: 10px 10px 15px rgba(60, 40, 40, 0.15);
  position: relative;
}

.service-box:nth-child(odd) {
  color: rgb(141, 0, 144);
}

.service-box:nth-child(even) {
  color: rgb(0, 144, 10);
}

.service-box::before {
  content: '';
  position: absolute;
  top: 0%;
  left: 0%;
  width: 5px;
  height: 100%;
  background: #e65b00;
  transition: all 0.4s;
}

.service-box:hover {
  box-shadow: 10px 10px 15px rgba(60, 40, 40, 0.25);
  transform: scale(1.04);
}

.service-box:hover .title-area span {
  color: #fff;
}

.service-box:hover::before {
  width: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.content {
  position: relative;
  display: flex;
}

.icons {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  transition: 0.5s ease-in-out;
}

.service-box:hover .icons {
  color: #fff;
}

.title-area h3 {
  font-weight: 400;
}

.title-area span {
  font-size: 13px;
  color: #696363;
}

.service-box:hover h3,
.service-box:hover p {
  color: #fff;
}